<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Postres</h1>
          <a href="menu.html">
              <button type="button" class="btn btn-secondary">Volver al menu</button>
          </a>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.recetasjudias.com/wp-content/uploads/2015/12/Flan-Quesillo.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Quesillo</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://images.clarin.com/2020/09/11/las-tortas-de-chocolate-entre___XxpFiUMHR_640x361__1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Tortas</p>
                <p>
                - Chocolate
                - Vainilla 
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.petitchef.es/imgupl/recipe/milhojas-crujiente-de-crema-pastelera--454800p705566.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text"> Postres frios</p>
                <p>
                 - Milhojas    
                 - Gelatina
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
  
        </div>
      </div>
    </div>
  
  </main>