<style>
    <!-- .bd-placeholder-img { 
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Menu</h1>
          <p class="lead text-muted">Bienvenidos a nuestro restaurante, esperamos te puedas deleitar con la variedad de comidas y bedidas que te ofrecemos, te deseamos a buen provecho.</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          
          
  
          
          <div class="col">
            <div class="card shadow-sm">
              <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              <img src="https://okdiario.com/img/2018/07/03/receta-de-desayuno-americano-1-655x368.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"> 
              <div class="card-body">
                <p class="card-text">Listado de desayunos</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/desayuno']"> <button type="button" class="btn btn-sm btn-outline-secondary">Ingresar</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.eluniverso.com/resizer/riXmL4bGIvaBw6hOxEjGMRUGoes=/456x336/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/5XKXZ52MHRDKPIMM37JSTFNZTQ.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">            
              <div class="card-body">
                <p class="card-text">Listado de almuerzos</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/almuerzo']"> <button type="button" class="btn btn-sm btn-outline-secondary">Ingresar</button></a>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://sevilla.abc.es/gurme/wp-content/uploads/sites/24/2010/05/cenasrapidas.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"> 
              <div class="card-body">
                <p class="card-text">Listado de cenas</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/cena']"> <button type="button" class="btn btn-sm btn-outline-secondary">Ingresar</button></a>
                  
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.diariamenteali.com/medias/5-bebidas-saludables-perfectas-para-el-verano-1900Wx500H?context=bWFzdGVyfGltYWdlc3wxOTYxNTh8aW1hZ2UvanBlZ3xoMGMvaDJlLzkwNzQ1NTc1MTc4NTQvNS1iZWJpZGFzLXNhbHVkYWJsZXMtcGVyZmVjdGFzLXBhcmEtZWwtdmVyYW5vXzE5MDBXeDUwMEh8OTRiNTljM2YwMGE5ZGQ1OWM5MDYzNTViNTExMTQ3ZjJmMTNiYzg3ZmYyMzVlYTU1OTYzOGVmMTQ2YWIxNmM2Mw" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Listado de bebidas</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/bebida']"> <button type="button" class="btn btn-sm btn-outline-secondary">Ingresar</button></a>
                  
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.hogarmania.com/archivos/201903/postres-chocolate-1280x720x80xX.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Listado de postres</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/postre']"> <button type="button" class="btn btn-sm btn-outline-secondary">Ingresar</button></a>
                  
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
  
        </div>
      </div>
    </div>
  
  </main>
