

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Desayuno</h1>
          <a href="menu.html">
              <button type="button" class="btn btn-secondary">Volver al menu</button>
          </a>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          
          
  
          
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.hola.com/imagenes/cocina/recetas/20210415187845/arepas-rellenas-huevos-revueltos-jamon-queso/0-941-125/arepas-jamon-adobe-m.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">            
              <div class="card-body">
                <p class="card-text">Arepas</p>
                <p>- Queso
                  - Jamon
                  - Huevo
                  - Salchicha</p>
              
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://elmundoenrecetas.s3.amazonaws.com/uploads/recipe/picture/82/IMG_4264_500px.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Empanadas</p>
                <p>- Queso
                  - Jamon
                  - Carne molida
                </p>
                <p>
                  - Carne Mechada
                  - Pollo</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.annarecetasfaciles.com/files/tequenos-de-queso-venezolanos.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Tequeños</p>
                <p>- Queso</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://sevilla.abc.es/gurme/wp-content/uploads/sites/24/2010/05/cenasrapidas.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Sandwich</p>
                <p>Tomate, lechuga, jamón y queso.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
              <div class="card shadow-sm">
                <img src="https://www.cocinayvino.com/wp-content/uploads/2016/05/panquecas-cl%C3%A1sicas-e1469136721366.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">  
                <div class="card-body">
                  <p class="card-text">Panquecas</p>
                  <p>Mantequilla y miel</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
  
  
        </div>
      </div>
    </div>
  
  </main>