<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Cena</h1>
          <a href="menu.html">
              <button type="button" class="btn btn-secondary">Volver al menu</button>
          </a>
          </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          
          
  
          
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://hispanaglobal.com/wp-content/uploads/2019/05/Ensalada-de-frutas-Hispana-Global-1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Ensalada de frutas</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://wp.es.aleteia.org/wp-content/uploads/sites/7/2019/01/web3-cereals-ideas-advice-health-food-family-shutterstock_577772086-elena-veselova-ai.jpg?quality=100&strip=all&w=620&h=310&crop=1" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Cereales y avena</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.saborusa.com/wp-content/uploads/2019/10/Conoces-una-receta-mas-practica-que-el-sandwich-Foto-destacada.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Sandwich</p>
                <p>-Queso -Jamon -Pavo -Vegetariano</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/04/recetas-de-hamburguesas-caseras-de-carne-molida.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Hamburguesa</p>
                <p>- Carne
                    - Pollo
                    - Tocineta
                    - Vegetariana
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://assets.kraftfoods.com/recipe_images/Ham_n_Cheddar_in_a_Loaf.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              
              <div class="card-body">
                <p class="card-text">Panes rellenos</p>
                <p>-Queso -Jamon</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
  
        </div>
      </div>
    </div>
  
  </main>