
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Almuerzo</h1>
          <a href="menu.html">
              <button type="button" class="btn btn-secondary">Volver al menu</button>
          </a>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          
          
  
          
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.goya.com/media/4098/venezuelan-shredded-beef.jpg?quality=80" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Pabellon</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn.kiwilimon.com/recetaimagen/14131/th5-640x640-6526.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Pasta con carne molida</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.unileverfoodsolutions.com.co/dam/global-ufs/mcos/nola/colombia/calcmenu/recipes/CO-recipes/rice-dishes/arroz-con-pollo/main-header.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Arroz con pollo</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2021/03/30/6063031b90a87.r_d.1083-871-0.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Pizzas</p>
                <p>-Margarita -4 quesos -Napolitana -Pepperoni</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://i.blogs.es/579bad/pollo-de-jordi-cruz/450_1000.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Pollo asado</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
  
        </div>
      </div>
    </div>
  
  </main>
  