<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Bebidas</h1>
          <a href="menu.html">
              <button type="button" class="btn btn-secondary">Volver al menu</button>
          </a>
           </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.cardamomo.news/__export/1622218609247/sites/debate/img/2021/05/28/jugos_naturales_crop1622218346714.jpeg_423682103.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Jugos naturales</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://i.blogs.es/b92620/cafe-cafeina/840_560.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Cafes</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
  
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://peru21.pe/resizer/_j5j_PGRFmV2kyxazfyZFz9ISyg=/980x0/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/WCT3G3NDHRD6JANA7CZRT3IVDA.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Agua</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Pedir</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  
  
        </div>
      </div>
    </div>
  
  </main>